/*fonts*/
h1, h2 {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Muller';
    font-weight: bold;
    src: url('../fonts/MullerBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Muller-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/MullerLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Muller-Meduim';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/MullerMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'MyriadProRegular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/MyriadProRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'VisbyCFExtraBold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/VisbyCFExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'VisbyCFLight';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/VisbyCFLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Story';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/story.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

.main-header {
    box-sizing: border-box;
    width: 1920px;
    min-height: 1080px;
    padding-top: 1px;
    background: linear-gradient(180deg, #f9e9a7, #63c9c4);
}

.for-background {
    box-sizing: border-box;
    position: relative;
    width: 1920px;
    min-height: 1080px;
    background-image: url("../img/magnet.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 27px;
}

.logo::before {
    content: "";
    display: block;
    position: relative;
    width: 200px;
    height: 110px;
    transform: rotate(-5deg);
    background-color: #ffffff;
    border-radius: 10px;
}

.logo {
    width: 200px;
    height: 110px;
    margin-left: 180px;
    margin-top: -24px;
}

.logo a {
    display: block;
    position: relative;
    width: 200px;
    height: 110px;
    top: -96px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.header-headline {
    width: 920px;
    margin-top: 232px;
    margin-left: 189px;
}

.small-headline {
    font-family: 'Muller';
    font-weight: bold;
    font-size: 32px;
    color: #44a09b;
}

.headline {
    display: block;
    margin-top: 25px;
    font-family: 'Muller-Regular';
    font-size: 63px;
    line-height: 85px;
    letter-spacing: 1px;
}

.headline-bold {
    font-family: 'Muller';
    font-weight: bold;
    letter-spacing: 3px;
}

.register-now {
    box-sizing: border-box;
    width: 825px;
    height: 212px;
    margin-top: 54px;
    padding-left: 190px;
    padding-top: 44px;
    border-radius: 0px 110px 110px 0px;
    background-color: #ffffff;
}

.time-working {
    font-family: 'Muller-Meduim';
    font-size: 27px;
    color: #ff8141;
}

.register-url {
    box-sizing: border-box;
    display: block;
    width: 495px;
    height: 67px;
    margin-top: 17px;
    padding-top: 4px;
    padding-left: 10px;
    border-radius: 35px;
    text-align: center;

    font-family: 'Muller';
    font-weight: bold;
    font-size: 32px;
    line-height: 65px;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #ff8141;
}

.scroll-down {
    position: absolute;
    width: 1920px;
    text-align: center;

    bottom: -6px;
}

.scroll-down a {
    text-decoration: none;
}

.scroll-down-text {
    font-family: 'MyriadProRegular';
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.big-triangle {
    position: relative;
    width: 0;
    height: 0;
    margin-top: 10px;
    border-style: solid;
    border-width: 40px 30px 30px 30px;
    left: -2px;
    border-color: #ffffff transparent transparent transparent;

}

.small-triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: -34px;
    left: -16px;
    border-style: solid;
    border-width: 22px 16px 16px 16px;
    border-color: #69cac3 transparent transparent transparent;
}

/*main content page*/
.main-content {
    display: flex;
    width: 1920px;
}

.use-pewtoon {
    box-sizing: border-box;
    position: relative;
    width: 1085px;
    min-height: 915px;
    padding-top: 1px;
    background-image: url("../img/video-background.png");
}

.for-play-button {
    position: relative;
    margin-top: 380px;
    margin-left: 450px;
}

.play-circle {
    width: 180px;
    height: 180px;
    border: none;
    border-radius: 50%;
    background-color: rgba(3, 3, 3, 0.65);

}

.use-pewtoon-arrow{
    position: absolute;
    top: 525px;
    left: 585px;
}

.use-pewtoon-text{
    position: absolute;
    width: 170px;
    left: 705px;
    top: 615px;
    transform: rotate(10deg);
    font-family: 'Story';
    font-size: 26px;
    letter-spacing: 3px;
    text-align: center;

}

.play-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 26px 45px;
    border-color: transparent transparent transparent #ffffff;

    top: 67px;
    left: 75px;
}

.right-side {
    box-sizing: border-box;
    position: relative;
    width: 835px;
    padding-top: 120px;
    padding-left: 125px;
}

.right-side-headline {
    font-family: 'VisbyCFExtraBold';
    font-size: 43px;
    color: #3a4a62;
    text-transform: uppercase;
}

.right-side-list {
    width: 600px;
    margin-top: 35px;
    margin-left: -6px;
    list-style-image: url("../img/arrow.png");
}

.right-side-heart {
    list-style-image: url("../img/heart.png");
}

.right-side-heart .right-side-item {
    padding-left: 7px;
}

.right-side-item {
    font-family: 'VisbyCFLight';
    padding-left: 12px;
    font-size: 22px;
    line-height: 22px;
    margin-top: 14px;
    letter-spacing: 1px;
    color: #575656;
}

.right-side-register {
    display: block;
    position: absolute;
    width: 490px;
    height: 65px;
    left: 127px;
    bottom: 126px;
    line-height: 75px;
    text-align: center;
    font-family: 'Muller';
    font-weight: bold;
    font-size: 34px;
    border-radius: 33px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff8141;
}

/*footer*/
.main-footer {
    width: 1920px;
    height: 205px;
    background-color: #273d50;
    text-align: center;
}

.footer-headline {
    font-family: 'VisbyCFExtraBold';
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 59px;
    line-height: 224px;
}

/*special class*/
.centered {
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}